body {
    

        background-color:lightgrey;
        padding-bottom: 150px;
    
}

header {
    background-color: #363636;
    padding: 10px 0;
    font-size: 20px;
    color: #333;
}


footer {
    background-color: #363636;
    font-size: 12px;
    color: white;
    position: center;
}

/* Dodane style dla tekstu i listy kluczowych cech */
.welcome-text {
    font-size: 2em;
    font-weight: bold;
    color: green;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 222);
    text-align: center; 
}

.content-text {
    font-weight: bold;
    color: white;
}
