{% extends 'baseIN.html' %}

{% block head %}
<meta charset="UTF-8">
{% endblock %}


{% block body %}

<div class="content text-center">

    <div class="context-text">
        <h2 class="last" style="color:rgb(0, 0, 0)">Operacje algorytmu separacji</h2>
        <div class="last">
        <p style="color:rgb(61, 64, 62); max-width: 500px; margin: 0 auto; ">

         Algorytm separacji sieci naczyń krwionośnych został wykonany bazując na operacjach morfologicznych, 
         takich jak otwarcie, zamknięcie itp. Aby móc osiągnąć zadowalający efekt zostały również zastosowane 
         takie operacje jak binaryzacja, zwiększenie kontrastu itd. 
        </p>
        </div>
        <div style="margin-bottom: 60px;"></div>

 

    </div>

<div style="margin-bottom: 100px;"></div>
</div>

    {% endblock body %}
