{% extends 'baseIN.html' %}

{% block head %}
<meta charset="UTF-8">
{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div style="background-color: white; padding: 20px;">
                <p>
                Dzień dobry,<br>
                W celu skontaktowania się z administratorem systemu, <br>
                napisz <a href=mailto:nitychoruknatalia@gmail.com>maila</a>.<br>
                Miłego dnia!
            </p>
        </div>
    </div>
</div>
{% endblock body %}