{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
{% endblock %}


{% block body %}
<div class="form-group mx-auto">
    <h2 class="text-center">
        Zamierzasz <span class="text-danger">usunąć</span>: plik o nazwie"<i>{{ photo }}</i>
        "
    </h2>
    <p class="text-center">Czy jesteś pewny, że chcesz wykonać tę operację?</p>
    <div class="form-group">
        <form action=""
              method="post"
              class="d-flex flex-column align-items-center justify-content-center">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <a href="{{ request.META.HTTP_REFERER|default:'/default-url/' }}" class="btn btn-primary">Anuluj</a>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-danger">Usuń</button>
                </div>
            </div>
            <p>Operacja jest nieodwracalna!</p>
        </form>
    </div>
    <div style="margin-bottom: 100px;"></div>
</div>

{% endblock body %}
