{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
{% endblock %}

{% block body %}
<div class="form-group mx-auto">
    <h2 class="text-center">
        Zamierzasz odseparować sieć naczyń krwionośnych z obrazu: <span class="text-success"><i>{{ photo }}</i></span><br />
    </h2>
    <p class="text-center">Potwierdź operację</p>
    <div class="form-group">
        <form id="processingForm"
              action="{% url 'photo:processed' photo.id %}"
              method="post"
              class="d-flex flex-column align-items-center justify-content-center">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <a href="{{ request.META.HTTP_REFERER|default:'/default-url/' }}" class="btn btn-primary">Anuluj</a>
                </div>
            {% if photo.processed_image %}
                <div class="col">
                    <button type="button" class="btn btn-success" onclick="confirmAndRedirect()">Wykonaj</button>
                </div>
             {% else %}

               <div class="col">
                    <a href="{% url 'photo:processed' photo.id %}" class="btn btn-success">Wykonaj</a>
                </div>
	     {% endif %}
            </div>
            <div style="margin-bottom: 20px;"></div>
            <p>Po naciśnięciu przycisku pojawi się przeprocesowany obraz.</p>
            <p>Obraz jest przypisany do oryginalnego obrazu w bazie.</p>
            <p style="">Operacja może potrwać do kilku minut<span class="text-danger">, w zależności od rozmiaru obrazu</span>.</p>
            <p>Zachowaj cierpliwość.</p>
        </form>
    </div>
    <div style="margin-bottom: 100px;"></div>

    <script>
        function confirmAndRedirect() {
            if (confirm("Uwaga! Ten obraz został już przeprocesowany. Czy chcesz kontynuować?")) {
                window.location.href = "{% url 'photo:processed' photo.id %}";
            }
        }
    </script>
</div>

{% endblock body %}

